/* ==========================================================================
   Field: tile_size
   ========================================================================== */

.large-horizontal {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3MjYiIHZpZXdCb3g9IjAgMCAxMDI0IDcyNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+bGFyZ2UtaG9yaXpvbnRhbDwvdGl0bGU+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjNEE5MEUyIiBkPSJNMzIgNDRoNjI5djI5OEgzMnoiLz48cGF0aCBmaWxsPSIjRDhEOEQ4IiBkPSJNNjkzIDQ0aDI5OHYyOThINjkzek0zMiAzODdoMjk4djI5OEgzMnpNMzYzIDM4N2gyOTh2Mjk4SDM2M3pNNjkzIDM4N2gyOTh2Mjk4SDY5M3oiLz48L2c+PC9zdmc+);
}

.large-square {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3MjYiIHZpZXdCb3g9IjAgMCAxMDI0IDcyNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0iYmFja2dyb3VuZDojRkZGRkZGIj48dGl0bGU+bGFyZ2Utc3F1YXJlPC90aXRsZT48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiM0QTkwRTIiIGQ9Ik0zMiA0NGgyOTh2Mjk4SDMyeiIvPjxwYXRoIGZpbGw9IiNEOEQ4RDgiIGQ9Ik0zNjMgNDRoMjk4djI5OEgzNjN6TTY5MyA0NGgyOTh2Mjk4SDY5M3pNMzIgMzg3aDI5OHYyOThIMzJ6TTM2MyAzODdoMjk4djI5OEgzNjN6TTY5MyAzODdoMjk4djI5OEg2OTN6Ii8+PC9nPjwvc3ZnPg==);
}

.large-vertical {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3MjYiIHZpZXdCb3g9IjAgMCAxMDI0IDcyNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0iYmFja2dyb3VuZDojRkZGRkZGIj48dGl0bGU+bGFyZ2UtdmVydGljYWw8L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZmlsbD0iIzRBOTBFMiIgZD0iTTMyIDQ0aDI5OHY2NDFIMzJ6Ii8+PHBhdGggZmlsbD0iI0Q4RDhEOCIgZD0iTTM2MyA0NGgyOTh2Mjk4SDM2M3pNNjkzIDQ0aDI5OHYyOThINjkzek0zNjMgMzg3aDI5OHYyOThIMzYzek02OTMgMzg3aDI5OHYyOThINjkzeiIvPjwvZz48L3N2Zz4=);
}

.small-horizontal {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjkyIiBoZWlnaHQ9IjEwNzIiIHZpZXdCb3g9IjAgMCA2OTIgMTA3MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0iYmFja2dyb3VuZDojRkZGRkZGIj48dGl0bGU+c21hbGwtaG9yaXpvbnRhbDwvdGl0bGU+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjNEE5MEUyIiBkPSJNMzIgNDRoNjI5djI5OEgzMnoiLz48cGF0aCBmaWxsPSIjRDhEOEQ4IiBkPSJNMzIgMzg3aDI5OHYyOThIMzJ6TTM2MyAzODdoMjk4djI5OEgzNjN6TTMyIDczMGgyOTh2Mjk4SDMyek0zNjMgNzMwaDI5OHYyOThIMzYzeiIvPjwvZz48L3N2Zz4=);
}

.small-square-2x {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjkyIiBoZWlnaHQ9IjEwNzIiIHZpZXdCb3g9IjAgMCA2OTIgMTA3MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0iYmFja2dyb3VuZDojRkZGRkZGIj48dGl0bGU+c21hbGwtc3F1YXJlLTJ4PC90aXRsZT48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiM0QTkwRTIiIGQ9Ik0zMiA0NGg2Mjl2NjQxSDMyeiIvPjxwYXRoIGZpbGw9IiNEOEQ4RDgiIGQ9Ik0zMiA3MzBoMjk4djI5OEgzMnpNMzYzIDczMGgyOTh2Mjk4SDM2M3oiLz48L2c+PC9zdmc+);
}

.small-square {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjkyIiBoZWlnaHQ9IjEwNzIiIHZpZXdCb3g9IjAgMCA2OTIgMTA3MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0iYmFja2dyb3VuZDojRkZGRkZGIj48dGl0bGU+c21hbGwtc3F1YXJlPC90aXRsZT48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiM0QTkwRTIiIGQ9Ik0zMiA0NGgyOTh2Mjk4SDMyeiIvPjxwYXRoIGZpbGw9IiNEOEQ4RDgiIGQ9Ik0zNjMgNDRoMjk4djI5OEgzNjN6TTMyIDM4N2gyOTh2Mjk4SDMyek0zNjMgMzg3aDI5OHYyOThIMzYzek0zMiA3MzBoMjk4djI5OEgzMnpNMzYzIDczMGgyOTh2Mjk4SDM2M3oiLz48L2c+PC9zdmc+);
}

.small-vertical {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjkyIiBoZWlnaHQ9IjEwNzIiIHZpZXdCb3g9IjAgMCA2OTIgMTA3MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0iYmFja2dyb3VuZDojRkZGRkZGIj48dGl0bGU+c21hbGwtdmVydGljYWw8L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZmlsbD0iIzRBOTBFMiIgZD0iTTMyIDQ0aDI5OHY2NDFIMzJ6Ii8+PHBhdGggZmlsbD0iI0Q4RDhEOCIgZD0iTTM2MyA0NGgyOTh2Mjk4SDM2M3pNMzYzIDM4N2gyOTh2Mjk4SDM2M3pNMzIgNzMwaDI5OHYyOThIMzJ6TTM2MyA3MzBoMjk4djI5OEgzNjN6Ii8+PC9nPjwvc3ZnPg==);
}

.wrapper-styling {
    padding-top: 60px;
    position: relative;
}

.pseudo-styling {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
}

/* ==========================================================================
   Field: tile_size
   ========================================================================== */
[data-name="tile_size"] {
    li {
        @extend .wrapper-styling;
    }

    [value="square"]:after {
        @extend .pseudo-styling;
        @extend .large-square;
    }

    [value="horizontal"]:after {
        @extend .pseudo-styling;
        @extend .large-horizontal;
    }

    [value="vertical"]:after {
        @extend .pseudo-styling;
        @extend .large-vertical;
    }
}

/* ==========================================================================
   Field: tile_size_mobile
   ========================================================================== */
[data-name="tile_size_mobile"] {
    li {
        @extend .wrapper-styling;
    }

    [value="square"]:after {
        @extend .pseudo-styling;
        @extend .small-square;
    }

    [value="square2x"]:after {
        @extend .pseudo-styling;
        @extend .small-square-2x;
    }

    [value="horizontal"]:after {
        @extend .pseudo-styling;
        @extend .small-horizontal;
    }

    [value="vertical"]:after {
        @extend .pseudo-styling;
        @extend .small-vertical;
    }
}
