$color-blue: #0069b4;
$color-orange: #f9a301;
$color-gray: #ededed;
$color-text: #252525;

.section-comments {
  background-color: white !important;
  padding: 10px 0 !important;
}

.comment-card {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 10px solid #eaeaea;
  border-radius: 40px;
  padding: 30px;
  max-height: 240px;
  min-height:240px;
}

.icon-quote {
  display: block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuMTQzIDMxLjQyOWg5LjQyOGw2LjI4Ni0xMi41NzJWMEgwdjE4Ljg1N2g5LjQyOUwzLjE0MyAzMS40M3ptMjUuMTQzIDBoOS40MjhMNDQgMTguODU3VjBIMjUuMTQzdjE4Ljg1N2g5LjQyOEwyOC4yODYgMzEuNDN6IiBmaWxsPSIjRjlBMzAxIi8+PC9zdmc+);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:45px;
  height: 45px;
}

.comment-card-body {
  color: $color-text;
  overflow:hidden;
  height: 100%;
}

.small-text {
  margin: 7px 0;
  font-weight: 400;
}

.comment-card-icon,
.comment-card-body {
  padding: 0 10px;
}

@media screen and (max-width: 895px) {
  .comment-card {
    min-height: 200px;
    max-height: 350px;
  }

  .section-comments > .container > .grid > .grid-xs-12 {
    margin-bottom: 10px
  }
}

@media screen and (max-width: 500px) {
  .icon-quote {
    display: none;
  }

  .comment-card-icon,
  .comment-card-body {
    padding: 0;
  }

  .comment-card {
    padding: 20px;
  }

  .comment-card-body {
    font-size: 15px;
  }

  .comment-card-title {
    font-size: 19px;
  }

}